.logo-image img {
    width: 150px;
    margin:20px;
}

.main-header {
    display: flex;
    width: 100%;
}

.main-header nav {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;

}

.main-header .menu-list {
    list-style-type: none;
    display: flex;
    
}

.main-header .menu-list a {
    text-decoration: none;
    color: black;
}

.main-header .menu-list a:hover {
    color: #eb3118;
}

.main-header .menu-list a li {
    margin-right: 25px;
    text-decoration: none;
}